In [1]:
import pandas as pd
import numpy as np
# Import CSV file
my_df = pd.read_csv("sample_data.csv")
index = np.arange(17)
my_df["index"]=index
my_df['Available']=[True]*len(my_df)
my_df["opacity"]=[np.nan]*len(my_df)
my_df.insert(2,"Natural",[True]*len(my_df))

In [2]:
my_df

       Name      HEX  Natural               RGB  index  Available  opacity
0     White  #FFFFFF     True  rgb(100,100,100)      0       True      NaN
1    Silver  #C0C0C0     True     rgb(75,75,75)      1       True      NaN
2      Gray  #808080     True     rgb(50,50,50)      2       True      NaN
3     Black  #000000     True        rgb(0,0,0)      3       True      NaN
4       Red  #FF0000     True      rgb(100,0,0)      4       True      NaN
5    Maroon  #800000     True       rgb(50,0,0)      5       True      NaN
6    Yellow  #FFFF00     True    rgb(100,100,0)      6       True      NaN
7     Olive  #808000     True      rgb(50,50,0)      7       True      NaN
8      Lime  #00FF00     True      rgb(0,100,0)      8       True      NaN
9     Green  #008000     True       rgb(0,50,0)      9       True      NaN
10     Aqua  #00FFFF     True    rgb(0,100,100)     10       True      NaN
11     Teal  #008080     True      rgb(0,50,50)     11       True      NaN
12     Blue  #0000FF     True      rgb(0,0,100)     12       True      NaN
13     Navy  #000080     True       rgb(0,0,50)     13       True      NaN
14  Fuchsia  #FF00FF     True    rgb(100,0,100)     14       True      NaN
15   Purple  #800080     True      rgb(50,0,50)     15       True      NaN
16      NaN  #584858     True      rgb(45,3,23)     16       True      NaN

In [3]:
# Remove Column
my_df.drop("opacity",axis=1)

       Name      HEX  Natural               RGB  index  Available
0     White  #FFFFFF     True  rgb(100,100,100)      0       True
1    Silver  #C0C0C0     True     rgb(75,75,75)      1       True
2      Gray  #808080     True     rgb(50,50,50)      2       True
3     Black  #000000     True        rgb(0,0,0)      3       True
4       Red  #FF0000     True      rgb(100,0,0)      4       True
5    Maroon  #800000     True       rgb(50,0,0)      5       True
6    Yellow  #FFFF00     True    rgb(100,100,0)      6       True
7     Olive  #808000     True      rgb(50,50,0)      7       True
8      Lime  #00FF00     True      rgb(0,100,0)      8       True
9     Green  #008000     True       rgb(0,50,0)      9       True
10     Aqua  #00FFFF     True    rgb(0,100,100)     10       True
11     Teal  #008080     True      rgb(0,50,50)     11       True
12     Blue  #0000FF     True      rgb(0,0,100)     12       True
13     Navy  #000080     True       rgb(0,0,50)     13       True
14  Fuchsia  #FF00FF     True    rgb(100,0,100)     14       True
15   Purple  #800080     True      rgb(50,0,50)     15       True
16      NaN  #584858     True      rgb(45,3,23)     16       True

In [4]:
# Show dataframe again
my_df

       Name      HEX  Natural               RGB  index  Available  opacity
0     White  #FFFFFF     True  rgb(100,100,100)      0       True      NaN
1    Silver  #C0C0C0     True     rgb(75,75,75)      1       True      NaN
2      Gray  #808080     True     rgb(50,50,50)      2       True      NaN
3     Black  #000000     True        rgb(0,0,0)      3       True      NaN
4       Red  #FF0000     True      rgb(100,0,0)      4       True      NaN
5    Maroon  #800000     True       rgb(50,0,0)      5       True      NaN
6    Yellow  #FFFF00     True    rgb(100,100,0)      6       True      NaN
7     Olive  #808000     True      rgb(50,50,0)      7       True      NaN
8      Lime  #00FF00     True      rgb(0,100,0)      8       True      NaN
9     Green  #008000     True       rgb(0,50,0)      9       True      NaN
10     Aqua  #00FFFF     True    rgb(0,100,100)     10       True      NaN
11     Teal  #008080     True      rgb(0,50,50)     11       True      NaN
12     Blue  #0000FF     True      rgb(0,0,100)     12       True      NaN
13     Navy  #000080     True       rgb(0,0,50)     13       True      NaN
14  Fuchsia  #FF00FF     True    rgb(100,0,100)     14       True      NaN
15   Purple  #800080     True      rgb(50,0,50)     15       True      NaN
16      NaN  #584858     True      rgb(45,3,23)     16       True      NaN

In [5]:
# TO delete it permanently , use inplace=True
my_df.drop("opacity",axis=1,inplace=True)

In [6]:
# Show df again
my_df

       Name      HEX  Natural               RGB  index  Available
0     White  #FFFFFF     True  rgb(100,100,100)      0       True
1    Silver  #C0C0C0     True     rgb(75,75,75)      1       True
2      Gray  #808080     True     rgb(50,50,50)      2       True
3     Black  #000000     True        rgb(0,0,0)      3       True
4       Red  #FF0000     True      rgb(100,0,0)      4       True
5    Maroon  #800000     True       rgb(50,0,0)      5       True
6    Yellow  #FFFF00     True    rgb(100,100,0)      6       True
7     Olive  #808000     True      rgb(50,50,0)      7       True
8      Lime  #00FF00     True      rgb(0,100,0)      8       True
9     Green  #008000     True       rgb(0,50,0)      9       True
10     Aqua  #00FFFF     True    rgb(0,100,100)     10       True
11     Teal  #008080     True      rgb(0,50,50)     11       True
12     Blue  #0000FF     True      rgb(0,0,100)     12       True
13     Navy  #000080     True       rgb(0,0,50)     13       True
14  Fuchsia  #FF00FF     True    rgb(100,0,100)     14       True
15   Purple  #800080     True      rgb(50,0,50)     15       True
16      NaN  #584858     True      rgb(45,3,23)     16       True

In [10]:
# Remove row
my_df.drop(15,inplace=True)
my_df

       Name      HEX  Natural               RGB  index  Available
0     White  #FFFFFF     True  rgb(100,100,100)      0       True
1    Silver  #C0C0C0     True     rgb(75,75,75)      1       True
2      Gray  #808080     True     rgb(50,50,50)      2       True
3     Black  #000000     True        rgb(0,0,0)      3       True
4       Red  #FF0000     True      rgb(100,0,0)      4       True
5    Maroon  #800000     True       rgb(50,0,0)      5       True
6    Yellow  #FFFF00     True    rgb(100,100,0)      6       True
7     Olive  #808000     True      rgb(50,50,0)      7       True
8      Lime  #00FF00     True      rgb(0,100,0)      8       True
9     Green  #008000     True       rgb(0,50,0)      9       True
10     Aqua  #00FFFF     True    rgb(0,100,100)     10       True
11     Teal  #008080     True      rgb(0,50,50)     11       True
12     Blue  #0000FF     True      rgb(0,0,100)     12       True
13     Navy  #000080     True       rgb(0,0,50)     13       True
14  Fuchsia  #FF00FF     True    rgb(100,0,100)     14       True
16      NaN  #584858     True      rgb(45,3,23)     16       True

In [ ]:
# Axis is 0 for rows and Axis is 1 for columns